
<div *ngIf="location">
    <h2><span>Location</span> {{location.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{location.name}}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>Description</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <span>{{location.description}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{location.address}}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>User</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            {{location.userLogin}}
        </dd>
    </dl>
    <div class="mb-15" *ngIf="locationChosen">
        <agm-map [zoom]="15" [latitude]="latitude" [longitude]="longitude">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>
    <div>
        <p></p>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
        </button>
    </div>
</div>
