<div>
    <h2>
        <span>User Preferences</span>
        <button [hidden]="preferences?.length && !isAdmin" class="btn btn-primary float-right jh-create-entity create-preferences" [routerLink]="['/', { outlets: { popup: ['preferences-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Preferences
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="elasticsearchEnabled">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="preferences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>ID</span></th>
            <th><span>Default Instructor</span></th>
            <th><span>Default Activity</span></th>
            <th><span>Default Location</span></th>
            <th><span>Default Lesson Type</span></th>
            <th><span>Default Rate</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let preferences of preferences ;trackBy: trackId">
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'"><a [routerLink]="['../preferences', preferences.id ]">{{preferences.id}}</a></td>

                <td>
                    <div *ngIf="preferences.defaultInstructorId">
                        <a [routerLink]="['../instructor', preferences.defaultInstructorId  ]" >{{preferences.defaultInstructorName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="preferences.defaultActivityId">
                        <a [routerLink]="['../activity', preferences.defaultActivityId  ]" >{{preferences.defaultActivityName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="preferences.defaultLocationId">
                        <a [routerLink]="['../location', preferences.defaultLocationId  ]" >{{preferences.defaultLocationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="preferences.defaultLessonTypeId">
                        <a [routerLink]="['../lesson-type', preferences.defaultLessonTypeId  ]" >{{preferences.defaultLessonTypeDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="preferences.defaultRateId">
                        <a [routerLink]="['../rate', preferences.defaultRateId  ]" >{{preferences.defaultRateDescription}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{preferences.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../preferences', preferences.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'preferences/'+ preferences.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'preferences/'+ preferences.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
