
<div *ngIf="lessonType">
    <h2><span>Lesson Type</span> {{lessonType.description}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Description</span></dt>
        <dd>
            <span>{{lessonType.description}}</span>
        </dd>
        <dt><span>Ratio</span></dt>
        <dd>
            <span>{{lessonType.ratio}}</span>
        </dd>
        <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span>User</span></dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            {{lessonType.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lesson-type/'+ lessonType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
