<div class="row">
    <div class="col-md-4">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-8">
        <h1 class="display-4">Private classes and statements home page!</h1>
        <p class="lead">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <h2>
                    <span>Here is your private classes:</span>
                </h2>
                <div class="table-responsive" *ngIf="lessons">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span>ID</span></th>
                            <th><span>Date</span></th>
                            <th><span>Duration</span></th>
                            <th><span>Total Charge</span></th>
                            <th><span>Student</span></th>
                            <th><span>Teaching Instructor</span></th>
                            <th><span>Activity</span></th>
                            <th><span>Location</span></th>
                            <th><span>Lesson Type</span></th>
                            <th><span>Rate</span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let lesson of lessons ;trackBy: trackId">
                            <td><a [routerLink]="['../lesson', lesson.id ]">{{lesson.id}}</a></td>
                            <td>{{lesson.date | date:'mediumDate'}}</td>
                            <td>{{lesson.duration}}</td>
                            <td>{{lesson.totalCharge}}</td>
                            <td>
                                <span *ngFor="let student of lesson.students; let last = last">
                                    <a class="form-control-static" [routerLink]="['../student', student?.id ]">{{student.firstName}}</a>{{last ? '' : ', '}}
                                </span>
                            </td>
                            <td>
                                <div *ngIf="lesson.teachingInstructorId">
                                    <a [routerLink]="['../instructor', lesson.teachingInstructorId  ]" >{{lesson.teachingInstructorFirstName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="lesson.activityId">
                                    <a [routerLink]="['../activity', lesson.activityId  ]" >{{lesson.activityName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="lesson.locationId">
                                    <a [routerLink]="['../location', lesson.locationId  ]" >{{lesson.locationName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="lesson.lessonTypeId">
                                    <a [routerLink]="['../lesson-type', lesson.lessonTypeId  ]" >{{lesson.lessonTypeDescription}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="lesson.rateId">
                                    <a [routerLink]="['../rate', lesson.rateId  ]" >{{lesson.rateDescription}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['../lesson', lesson.id ]"
                                            class="btn btn-info btn-sm">
                                        <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'lesson/'+ lesson.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'lesson/'+ lesson.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> You are logged in as user "{{account.login}}"</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
